Repository yarnaimo/fireschema: changes, and which lefthook commands are due for each by the changed paths.
All: package-json, js, others

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    package-json:
      glob: 'package.json'
      run: yarn sort-package-json {staged_files} && git add {staged_files}
    docs:
      run: yarn firestore:rules && yarn docs && git add firestore.rules README.md
    js:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    others:
      glob: '*.{json,css,scss,md}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

fix(readme): string.size() is a method
  README.md
Due: others

postinstall
  package.json
Due: package-json, others

fix
  package.json
Due: package-json, others

生成 script の修正
  package.json
Due: package-json, others

再起的にディレクトリを生成する createFile を作成し、任意のディレクトリ配下に生成できるように修正
  .gitignore
  dist/src/bin/commands/dart.js
  dist/src/bin/commands/rules.js
  dist/src/core/firestore/_renderer/dart.js
  dist/src/core/utils/_createFile.d.ts
  dist/src/core/utils/_createFile.js
  esm/src/bin/commands/dart.js
  esm/src/bin/commands/rules.js
  esm/src/core/firestore/_renderer/dart.js
  esm/src/core/utils/_createFile.d.ts
  esm/src/core/utils/_createFile.js
  src/bin/commands/dart.ts
  src/bin/commands/rules.ts
  src/core/firestore/_renderer/dart.ts
  src/core/utils/_createFile.ts
Due: js

ファイル構造の修正
  dist/src/bin/commands/dart.js
  dist/src/core/firestore/_renderer/dart.d.ts
  dist/src/core/firestore/_renderer/dart.js
  dist/src/core/firestore/_renderer/entities.d.ts
  dist/src/core/firestore/_renderer/entities.js
  dist/src/core/firestore/_renderer/root_dart.d.ts
  dist/src/core/firestore/_renderer/root_dart.js
  esm/src/bin/commands/dart.js
  esm/src/core/firestore/_renderer/dart.d.ts
  esm/src/core/firestore/_renderer/dart.js
  esm/src/core/firestore/_renderer/entities.d.ts
  esm/src/core/firestore/_renderer/entities.js
  esm/src/core/firestore/_renderer/root_dart.d.ts
  esm/src/core/firestore/_renderer/root_dart.js
  src/bin/commands/dart.ts
  src/core/firestore/_renderer/dart.ts
  src/core/firestore/_renderer/entities.ts
  src/core/firestore/_renderer/root_dart.ts
Due: js

nullable とかそこらへん
  dist/src/core/firestore/_renderer/class.d.ts
  dist/src/core/firestore/_renderer/class.js
  dist/src/core/firestore/_renderer/entities.js
  dist/src/core/firestore/_renderer/format_dart.d.ts
  dist/src/core/firestore/_renderer/format_dart.js
  dist/src/core/firestore/_renderer/transformer_dart.d.ts
  dist/src/core/firestore/_renderer/transformer_dart.js
  dist/src/core/utils/entities.d.ts
  dist/src/core/utils/entities.js
  esm/src/core/firestore/_renderer/class.d.ts
  esm/src/core/firestore/_renderer/class.js
  esm/src/core/firestore/_renderer/entities.js
  esm/src/core/firestore/_renderer/format_dart.d.ts
  esm/src/core/firestore/_renderer/format_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.d.ts
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/utils/entities.d.ts
  esm/src/core/utils/entities.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/class.ts
  src/core/firestore/_renderer/entities.ts
  src/core/firestore/_renderer/format_dart.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/core/utils/entities.ts
  src/example/1-1-schema.ts
Due: js

最適的に生成できるように設定
  dist/src/core/firestore/_renderer/dart.d.ts
  dist/src/core/firestore/_renderer/dart.js
  dist/src/core/firestore/_renderer/entities.d.ts
  dist/src/core/firestore/_renderer/entities.js
  dist/src/core/firestore/_renderer/format_dart.d.ts
  dist/src/core/firestore/_renderer/format_dart.js
  dist/src/core/firestore/_renderer/root_dart.d.ts
  dist/src/core/firestore/_renderer/root_dart.js
  dist/src/core/firestore/_renderer/transformer_dart.d.ts
  dist/src/core/firestore/_renderer/transformer_dart.js
  dist/src/core/firestore/model.js
  esm/src/core/firestore/_renderer/dart.d.ts
  esm/src/core/firestore/_renderer/dart.js
  esm/src/core/firestore/_renderer/entities.d.ts
  esm/src/core/firestore/_renderer/entities.js
  esm/src/core/firestore/_renderer/format_dart.d.ts
  esm/src/core/firestore/_renderer/format_dart.js
  esm/src/core/firestore/_renderer/root_dart.d.ts
  esm/src/core/firestore/_renderer/root_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.d.ts
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/model.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/dart.ts
  src/core/firestore/_renderer/entities.ts
  src/core/firestore/_renderer/format_dart.ts
  src/core/firestore/_renderer/root_dart.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/core/firestore/model.ts
  src/example/1-1-schema.ts
Due: js

オプショナルが多重化しないように設定
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.js
  src/core/firestore/_renderer/transformer_dart.ts
Due: js

@immutable を追加
  src/core/firestore/_renderer/transformer_dart.ts
Due: js

freezed entity 生成部分完成
  dist/src/core/firestore/_renderer/root_dart.d.ts
  dist/src/core/firestore/_renderer/root_dart.js
  dist/src/core/firestore/_renderer/transformer_dart.d.ts
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/root_dart.d.ts
  esm/src/core/firestore/_renderer/root_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.d.ts
  esm/src/core/firestore/_renderer/transformer_dart.js
  src/core/firestore/_renderer/root_dart.ts
  src/core/firestore/_renderer/transformer_dart.ts
Due: js

できた
  dist/src/core/firestore/_renderer/entities.js
  dist/src/core/firestore/model.d.ts
  dist/src/core/firestore/model.js
  esm/src/core/firestore/_renderer/entities.js
  esm/src/core/firestore/model.d.ts
  esm/src/core/firestore/model.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/entities.ts
  src/core/firestore/model.ts
  src/example/1-1-schema.ts
Due: js

ファイル生成場所を指定できるようにした
  dist/src/bin/cli.js
  dist/src/bin/commands/dart.d.ts
  dist/src/bin/commands/dart.js
  dist/src/bin/commands/rules.d.ts
  dist/src/bin/commands/rules.js
  esm/src/bin/cli.js
  esm/src/bin/commands/dart.d.ts
  esm/src/bin/commands/dart.js
  esm/src/bin/commands/rules.d.ts
  esm/src/bin/commands/rules.js
  src/bin/cli.ts
  src/bin/commands/dart.ts
  src/bin/commands/rules.ts
Due: js

クライアントに準拠するように対応
  dist/src/core/firestore/_renderer/dart.d.ts
  dist/src/core/firestore/_renderer/dart.js
  dist/src/core/firestore/_renderer/entities.d.ts
  dist/src/core/firestore/_renderer/entities.js
  dist/src/core/firestore/_renderer/root_dart.js
  dist/src/core/firestore/_renderer/transformer_dart.d.ts
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/dart.d.ts
  esm/src/core/firestore/_renderer/dart.js
  esm/src/core/firestore/_renderer/entities.d.ts
  esm/src/core/firestore/_renderer/entities.js
  esm/src/core/firestore/_renderer/root_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.d.ts
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/example/1-1-schema.js
  src/core/firestore/_renderer/dart.ts
  src/core/firestore/_renderer/entities.ts
  src/core/firestore/_renderer/root_dart.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/example/1-1-schema.ts
Due: js

Dart 上で使用不可能な型が来た場合はエラーにする
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/example/1-1-schema.ts
Due: js

エラーメッセージを一部修正
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/example/1-1-schema.ts
Due: js

Map(record) に対応
  dist/src/core/firestore/_renderer/transformer_dart.js
  esm/src/core/firestore/_renderer/transformer_dart.js
  esm/src/example/1-1-schema.d.ts
  esm/src/example/1-1-schema.js
  esm/src/example/2-1-typed-functions.d.ts
  src/core/firestore/_renderer/transformer_dart.ts
  src/example/1-1-schema.ts
Due: js

num
  src/core/firestore/_renderer/transformer_dart.ts
Due: js

__validator_meta__ の生成処理を削除
  src/core/firestore/_renderer/root.ts
  src/core/firestore/_renderer/transformer.ts
Due: js
